<div class="container">
  <div class="todoapp">
      <header class="header">
          <h1>{{test2}}</h1>
          <input class="new-todo" placeholder="What to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
      </header>
      <section class="main" *ngIf="todos.length > 0">
        <ul class="todo-list">
          <li *ngFor="let todo of todos" [class.completed]="todo.complete">
            <div class="view">
              <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
              <label>{{todo.title}}</label>
              <button class="destroy" (click)="removeTodo(todo)">
                <fa-icon [icon] = "trashIco"></fa-icon>
              </button>
            </div>
          </li>
        </ul>
      </section>
  </div>
</div>